<%- contentFor("main") %>

<div id="mainPage">
    <div id="sidebar">
        <div id="picture">
            <img src=<%=profilePicture%> id="profilePicture">
            </div>
                <div id="choose">
                Choose Profile Picture
                <form action="/profile" method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" id="submit">
                </form>
            </div>
            <div id="statusBox">
                <div id="status">Status</div>
                <div id="updates">Last Update:</div>
                <div id="lastUpdate"><%=lastUpdate%></div>
                <div id="likes">Likes/Dislikes</div>
                <img src="like.png"></img>
                <span id="allLikes"><%=likes%></span>
                <img src="dislike.png"></img>
                <span id="allDislikes"><%=dislikes%></span>
            </div>
        </div>
        <div id="info">
            <div id="section1" class="sections">
                <div class="sectionHeaders">Friends</div>
                <div id="friends"></div>
            </div>
            <div id="section2" class="sections">
                <div class="sectionHeaders">Groups</div>
                <div id="groups"></div>
            </div>
            <div id="section3" class="sections">
                <div class="sectionHeaders">Biography</div>
                <div id="biography">
                    <textarea id="biographyText"><%=biography%></textarea>
                    <button id="submitText">Save</button>
                    <div id="savedHolder">
                        <div id="saved">Saved</div>
                    </div>
                </div>
            </div>
            <div id="section4" class="sections">
                <div class="sectionHeaders">Misc.</div>
                <div id="miscellaneous"></div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="home.js"></script>
