<%- contentFor("main") %>

    <div id="searchTags">
        <div id="sidebar">
            <div id="explanation">
                Click a tag to delete it
                <br>
                Each tag will search on its own
            </div>
            <input id="searchTag" placeholder="tag">
            <button id="submitTag">Submit</button>
            <div id="tags"></div>
        </div>
    </div>
    <div id="createPost">
        <div id="container">
            <div>
                <textarea rows="10" cols="100" id="post"></textarea>
                <div id="error"></div>
                <button id="submit" class="nextTo">Submit Post</button>
                <input type="text" id="tag" class="nextTo" placeholder="Seperate tags with ','">
            </div>
        </div>
    </div>
    <div id="postHolder">
        <%for (var i = posts.length - 1; i >= 0; i--) {%>
            <div class="posts">
            <div class="postHeader">
                <img src=/uploads/<%=pictures[posts[i].creater]%> class="header image">
                <div class="header">
                    Creator: <%=posts[i].creater%>
                </div>
            </div>
            <div class="post"><%=posts[i].body%></div>
            <div class="tagHolder">
                <%for (var j = 0; j < posts[i].tag.length; j++) {%>
                    <%if (posts[i].tag[j] != "") {%>
                        <div class="postTags">#<%=posts[i].tag[j]%></div>
                    <%}%>
                <%}%>
            </div>
            <div class="lastUpdate"><%=posts[i].date%></div>
        </div>
    <% } %>
    </div>
    <script type="text/javascript" src="posts.js"></script>
